# Environment variables
.env

# Spotify cache
.spotify_cache

# Virtual environment
venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Log files
*.log

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Other
playlist-history.json
banned.json
